# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/DS_Store
